@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-primario: #F3F5FC;
    --color-secundario: #FFFFFF;
    --color-terceario: #495057;
    --color-texto-grande: #343A40;
    --color-boton-encriptar: #0A3871;
    --color-boton-desencriptar: #D8DFE8;
    --color-hover-botones: #272727;
    --fuente-Krona: "Krona One", sans-serif;
    --fuente-montserrat:  "Montserrat", sans-serif;
    --fuente-Inter: "Inter", sans-serif;
}

*{
    padding: 0;
    margin: 0;

}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    height: 100vh;
    font-family: var(--fuente-Inter);
}



.header{
    padding: 1% 2%;
    display: flex;
    align-items: center;
}


.header__title{
    text-decoration: none;
    color: var(--color-boton-encriptar);
    font-weight: bold;
    font-size: 1.3rem;
}

.presentacion{
    display: flex;
    width: 85%;
    height: 81%;
    align-items: center;
    margin: 1% 6%;
    

    gap: 3%;
    
    
}

.content{
    width: 70%;
    height: 100%;
    
    
}

.content__left{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20%;


    width: 70%;
    height: 100%;
}

.content__encriptar{
    height: 75%;
    margin-bottom: 2%;
}

.encriptar__text{
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    background-color: var(--color-primario);
    outline: none;
    font-family: var(--fuente-Krona);
    font-weight: 400;
    font-size: 2rem;
    color: var(--color-boton-encriptar);
}

.encriptar__text::placeholder {
    color: var(--color-boton-encriptar); 
    opacity: 1; 
}

.content__button__send{
    width: 100%;
}

.button__warning{
    display: flex;
    color: var(--color-terceario);
    padding-bottom: 0.3rem;
    gap: 0.3rem;
}

.content__warnign{
    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 0.75rem;
    padding-bottom: 0.5rem;
}

.buttons{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 1rem;
    

}

.content__button{
    display: flex;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 24px;
    border: 1px solid var(--color-boton-encriptar);
    
    padding: 0.77rem 4.6rem;

    font-family: var(--fuente-Inter);
    font-weight: 400;
    font-size: 1rem;
    margin-right: 1rem;

    
    

}

.encriptar{
    background-color: var(--color-boton-encriptar);
    color: var(--color-secundario);
    cursor: pointer;
    
}

.desencriptar{
    background-color: var(--color-primario);
    color: var(--color-boton-encriptar);
    cursor: pointer;
}




.content__right{
    box-sizing: border-box;
    display: flex;
    background-color: var(--color-secundario);
    flex-direction: column;
    justify-content: center;
    
    
    width: 25%;
    height: 100%;
    border-radius: 32px;
    gap: 1.5%;
    box-shadow: 1px 7px 23px 1px rgba(0, 0, 0, 0.22);
    padding: 2%;
    gap: 2%;
    overflow-y: auto; 
}

.answer__label{
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--color-texto-grande);
    text-align: center;
}

.answer__text{
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-terceario);
    text-align: center;
}

.button__copiar{
    box-sizing: border-box;
    display: flex;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 24px;
    border: 1px solid var(--color-boton-encriptar);
    
    padding: 0.77rem 4.6rem;
    font-weight: 400;
    font-size: 1rem;

    background-color: var(--color-secundario);
    color: var(--color-boton-encriptar);
    cursor: pointer;
}

.footer{
    background-color: var(--color-boton-encriptar);
    color: var(--color-secundario);
    padding: 24px;
    font-size: 1rem;
    text-align: center;
}

@media (max-width: 1550px){
    .presentacion{
        width: 90%;
        margin: 1% 0%;
    }
}


@media (max-width: 1400px){
    .presentacion{
        width: 96%;
    }
}


@media (max-width: 1300px){
    .presentacion{
        width: 100%;
        margin: 1% -10%;
    }
}


@media (max-width: 1270px){
    .presentacion{
        width: 110%;
        margin: 1% -10%;
    }
}


@media (max-width: 1200px){

    .header__title{
        display: none;
    }

    .presentacion {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        height: 100%;
        margin: 1% 0;
        padding: 5% 5%;
    }

    .content {
        width: 100%;
        height: 100%;
    }

    .encriptar__text{
        height: 100%;
        
    }

    .content__left {
        width: 100%;
        margin-left: 0;
        height: 100%;
    }

    .content__right {
        width: 100%;
        height: 30%;
        
    }

    .answer__Dibujo{
        display: none !important;
    }

    .encriptar__text {
        font-size: 1.5rem;
    }

    .content__button {
        width: 47%;
        margin-right: 0;
        margin-bottom: 1rem;
    }
}

@media (max-width: 700px){

    .header__title{
        display: none;
    }

    .presentacion {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        height: 100%;
        margin: 1% 0;
        padding: 5% 5%;
    }

    .content {
        width: 100%;
        height: 100%;
    }

    .encriptar__text{
        height: 100%;
        
    }

    .content__left {
        width: 100%;
        margin-left: 0;
        height: 100%;
    }

    .content__right {
        width: 100%;
        height: 30%;
        padding: 5%;
        
    }

    .answer__Dibujo{
        display: none !important;
    }

    .encriptar__text {
        font-size: 1.5rem;
    }

    .buttons{
        margin-top: 1rem;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
        justify-items: center;
    }

    .content__button {
        width: 47%;
        margin-right: 0;
        margin-bottom: 1rem;
    }
}

